<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="header-top">
            <h2>devjobs</h2>
            <div class="header-slider">
                <img src="/assets/desktop/icon-sun.svg" alt="light ui">
                
            </div>
        </div>
    </header>
    <section class="job-list">

    </section>
</body>
<script src="/app.js"></script>
<script src="/controller/jobs.js"></script>
</html>